/* tablet mode & Dekstop mode */

/* Header */

#particles-js {
  height: 500px;
  background-image: linear-gradient(to top, #2c0336 0%, #b307ca 100%);
  position: relative;
}

/* .jumbotron-about {
  height: 600px;
  position: relative;
  padding-top: 4rem;
  color: white;

  background-image: linear-gradient(to right, #70e1f5, #ffd194);
} */

.container-layer2 {
  top: 70px;
  position: absolute;
  z-index: 1;
}
.container-layer3 {
  top: 100px;
  position: absolute;
  z-index: 2;
}

.h3 {
  text-shadow: 2px 1px 3px rgb(0, 0, 0);
}
.h1 {
  text-shadow: 1px 1px 3px #000;
}

.judul-about {
  text-shadow: 5px 5px 10px #000;
}

.container-welcome {
  margin-top: -150px;
}
/* akhir Header */

/* Countdown*/

/* akhir Countdown */

/* partikel.js */

/* welcome Message */
.card-message {
  background-image: linear-gradient(to bottom, #ffefba, #ffffff);
}

/* akhir welcome message */

/* Awal Speaker */
.container-speaker {
  background-size: cover;
  background-position: center;
}
/* akhir speaker */

/* mobile version */
@media (max-width: 768px) {
  #particles-js {
    height: 480px;
    background-image: linear-gradient(tto top, #2c0336 0%, #b307ca 100%);
    position: relative;
  }

  .container-layer2 {
    top: 60px;
    height: 480px;
  }

  .judul-about {
    text-shadow: 1px 1px 4px #000;
  }

  .container-welcome {
    margin-top: -50px;
  }
}
